body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
}
.dashboard {
    height: 250px;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-areas: 
        "header header header header"
        "item1 item2 item3 item4"
        "item5 item5 item6 item6"
        "item7 item7 item7 item7";
    gap: 10px;
}

.icon {
    width: 70px;
    height: 70px; 
    background-color: #FCC737;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-item {
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.dashboard-item h3 {
    padding-bottom: 10px;
    margin: 0;
}

.dashboard-item p {
    margin: 0;
    font-weight: bold;
}

.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7;height: 424px;position: relative; 
overflow:auto;
height: 424px;
position: relative;
overflow: auto;
border: 1px solid #ddd;
border-radius: 8px;
padding: 10px;
background-color: #f9f9f9;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.header-dashboard {
    grid-area: header;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.icon-user:hover {
    cursor: pointer;
}
.item table {
    position: absolute;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    top: 0px;
  }
  .item th,
  .item td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  .item th {
    background-color: #c2c1bd;
    color: white;
    font-weight: bold;
  }
  
  .item tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .item tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .item td {
    word-wrap: break-word;
    font-size: 14px;
  }
  
  .item thead {
    top: 0;
    z-index: 1;
  }
  