<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}home page{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="../static/icons/Home.png">
    <link rel="stylesheet" href="../static/index.css">
    {% endblock%}
</head>
<body>
    <main class="d-flex">
        <nav class="d-flex">
            <div class="main-of-nav d-flex">
                <i class="material-icons">home</i>
                <h3>Customer Service</h3>
            </div>
            <ul class="d-flex">
               <div class="list-of-nav d-flex">
                <img src="../static/icons/Home.png" alt="">
                 <li id="Home"><a href="#">home</a></li>
                </div>
                <div class="list-of-nav d-flex">
                    <img src="../static/icons/Task.png" alt="">
                    <li id="Home"><a href="#">Registration</a></li><img class="sort-down" src="../static/icons/Down Button.png"alt="">
                    <div class="drop-down">
                        <li>Add Registr</li>
                        <li>show Registr</li>

                    </div>
                </div>
               <div class="list-of-nav d-flex">
                <img src="../static/icons/Room.png" alt="">
                 <li id="Home"><a href="#">Rooms
                </a></li></div>
               <div class="list-of-nav d-flex">
                <img src="../static/icons/Customer.png" alt="">
                 <li id="Home"><a href="#">Customer
                </a></li></div>
               <div class="list-of-nav d-flex">
                <img src="../static/icons/Order Completed.png" alt="">
                 <li id="Home"><a href="#">Requests</a></li></div>
               <div class="list-of-nav d-flex">
                <img src="../static/icons/Complaint.png" alt="">
                 <li id="Home"><a href="#">Complaints</a></li></div>
               <div class="list-of-nav d-flex">
                <img src="../static/icons/Add.png" alt="">
                 <li id="Home"><a href="#">Reports</a></li></div>
            </ul>        
        </nav>
    </main>
    <div class="content-anthore-page">
    {% block content %}

    
    {%endblock%}
</div>
</body>
</html>