<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}home page{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="../static/icons/Home.png">
    <link rel="stylesheet" href="../static/index.css">
    {% endblock %}
</head>
<body>
    <main class="d-flex">
        <nav class="d-flex">
            <div class="main-of-nav d-flex">
                <i class="material-icons">home</i>
                <h2>Customer Service</h2>
            </div>
            <ul class="d-flex">
                <li id="Home"><a href="#">Home</a></li>
                <li id="Rooms"><a href="#">Rooms</a></li>
                <li>
                    <select name="" id="Customer" class="dropdown">
                        <option disabled selected>Customer Options</option>
                        <option value="registration">Registration</option>
                        <option value="registration-all">Registration All</option>
                        <option value="Check-out">Check Out</option>
                        <option value="Check-out-all">Check Out All</option>
                    </select>
                </li>
                <li id="Requests"><a href="#">Requests</a></li>
                <li id="Complaints"><a href="#">Complaints</a></li>
                <li id="Reports"><a href="#">Reports</a></li>
            </ul>        
        </nav>
    </main>
    <div class="content-anthore-page">
    {% block content %}


    {%endblock%}
</div>
</body>
</html>